.movie-item {
    width: 200px;
    margin: 10px;
    img {
      width: 100%;
      border-radius: 8px;
    }
    .movie-info {
      margin-top: 10px;
      h3 {
        font-size: 1.2rem;
        margin: 0;
      }
      p {
        margin: 5px 0;
        font-size: 0.9rem;
      }
    }
  }
  