<app-navbar></app-navbar>
<div class="home">
  <div class="home__banner">
    <h1>Unlimited movies, TV shows, and more.</h1>
      <h2>Watch anywhere. Cancel anytime.</h2>
      <p>Ready to watch? Enter your email to create or restart your membership.</p>
      <div class="email-form">
        <input type="email" placeholder="Email address">
        <button class="get-started-btn">Get Started</button>
      </div>
  </div>
  <div class="home__content">
    <!-- Main content goes here -->
  </div>
</div>
