.form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url();
    background-size: cover;
    height: 100%;
    width: 100%;
    padding-top: 10em;
  }
  
  .form-info {
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  .example-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
    width: 400px;
    height: 400px;
  
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  mat-form-field {
    width: 85%;
  }
  
  button[mat-icon-button] {
    margin-right: 0.7em;
  }
  
  button[mat-flat-button] {
    width: 85%;
    color: white;
    background-color: red;
  }
  
  .form-info {
    font-size: xx-large;
    color: white;
  }