<div class="movie-detail" [ngStyle]="{'background-image': 'url(https://image.tmdb.org/t/p/original' + movie.backdrop_path + ')'}">
  <div class="background">
    <div class="movie-info">
      <h1>{{ movie.title }}</h1>
      <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" [alt]="movie.title">
      <p><strong>Original Language:</strong> {{ movie.original_language }}</p>
      <p><strong>Original Title:</strong> {{ movie.original_title }}</p>
      <p><strong>Overview:</strong> {{ movie.overview }}</p>
      <p><strong>Popularity:</strong> {{ movie.popularity }}</p>
      <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
      <p><strong>Vote Average:</strong> {{ movie.vote_average }}</p>
      <p><strong>Vote Count:</strong> {{ movie.vote_count }}</p>
      <button (click)="openTrailer()">Play Trailer</button>
    </div>
  </div>
</div>
