.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #141414;
    height: 60px; 
  }
  
  .navbar-logo img {
    height: 30px;
    padding: 10px;
  }
  
  .navbar-signin {
    margin-left: auto;
  }
  
  .navbar-signin .btn-signin {
    color: white;
    text-decoration: none;
    background-color: #e50914; 
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    transition: background-color 0.3s;
    margin-left: 1100px;
  }
  
  .navbar-signin .btn-signin:hover {
    background-color: #f40612;
  }
  