<header class="header">
    <img src="/assets/home/netflix_icon.png" [routerLink]="['/home']" />
  </header>
  <main class="container">
    <div class="glass_layer">
      <div class="register_container">
        <div class="title">Sign Up</div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register_form">
          <mat-form-field class="register_email" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" />
            <mat-error *ngIf="email?.hasError('email') && !email?.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="email?.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
  
          <mat-form-field class="register_password" appearance="fill">
            <mat-label>Password</mat-label>
            <input [type]="hide ? 'password' : 'text'" matInput formControlName="password" />
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error *ngIf="password?.hasError('required')">
              Please enter a valid password
            </mat-error>
          </mat-form-field>
  
          <button class="submit_btn" mat-raised-button type="submit">
            Sign Up
          </button>
          <div class="login_redirect">
            Already have an account?
            <a [routerLink]="['/login']">Sign In now</a>.
          </div>
        </form>
      </div>
    </div>
  </main>
  
  <app-main-footer [linkList]="linkList" [backgroundColor]="backgroundColor"></app-main-footer>
  